@import url(../../assets/css/colors.css);
@import url(../../assets/css/global_styles.css);

body {
    margin: 0;
    padding: 0;
}

#mainpage-container {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    height: 100vh;
    position: relative;
}

#landing {
    scroll-snap-align: start;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --bg-color: 255,255,255;
    background-color: rgba(var(--bg-color),1);
    z-index: 1;
}

#box1 {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-height: 400px;
    text-transform: uppercase;
}

#box1 h1 {
    font-size: 3rem;
    line-height: 1;
    position: relative;
    overflow: hidden; /*used for ::after masking*/
}