:root {

    /*default background color and font color are simple white and black*/
    --background-color: rgb(245,245,245);
    --background-color-rgb: 245, 245, 245; /*rgb for each color is included in case for rgba*/
    --font-color: rgb(72, 72, 72);
    --font-color-rgb: 72, 72, 72;

    /*reverse default background and font color for a dark theme*/
    --dark-background-color: rgb(72,72,72);
    --dark-background-color-rgb: 72, 72, 72;
    --dark-bg-font-color: rgb(245,245,245);
    --dark-bg-font-color-rgb: 245, 245, 245;

    /*various colours, red main (=LSE logo)*/
    --red-color: rgb(237, 28, 46);
    --red-color-rgb: 237, 28, 46; 

  }

 /*color definitions*/
.primary-color {
  color: var(--red-color);
}