::-webkit-scrollbar {
    width: 0px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 75%;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit; 
}